.reg {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #7ba3a3;
  padding: 50px;
  z-index: 1000;
  border-radius: 10px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
}

.Add-subject-button {
  background: rgb(44, 122, 123);
  color: white;
  border-color: #2c7a7b;
  width: 110px;
  margin-left: 400px;
  margin-top: 20px;
  border-radius: 10px;
  height: 40px;
  font-family: "Work Sans", sans-serif;
}

.Add-subject-button:hover {
  opacity: 1;
  background-color: #2c7a7b;
  border-color: #2c7a7b;
}

.MuiInput-underline::before {
  border-bottom-color: red;
}

.close {
  position: absolute;
  left: 580px;
  top: 13.5px;
  color: black;
  cursor: pointer;
}
