.reg {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #7ba3a3;
  padding: 50px;
  z-index: 1000;
  border-radius: 10px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
}

@media(max-width:700px){
  .exp{
    width: 15rem;
    height: fit-content;
  }
}
.Add-subject-button {
    background: rgb(44, 122, 123);
    color: white;
    border-color: #2c7a7b;
    width: 9rem;
    margin: 2rem;
    border-radius: 10px;
    height: 3.6rem;
    font-family: "Work Sans", sans-serif;
}

.Add-subject-button:hover {
  opacity: 1;
  background-color: #2c7a7b;
  border-color: #2c7a7b;
}

.MuiInput-underline::before {
  border-bottom-color: red;
}

.close {
  position: absolute;
  left: 580px;
  top: 13.5px;
  color: black;
  cursor: pointer;
}
.css-la3dzh-MuiFormControl-root {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
    min-width: 0;
    padding: 0;
    margin: 0;
    border: 0;
    vertical-align: top;
    margin: 8px;
    width: 223px;
}
 /* .fields{
    width: 21rem;
  } */

  .close:not(:disabled):not(.disabled) {
    cursor: pointer;
    margin-left: -35rem;
}


@media(max-width: 700px)
{
   .fields{
    width: 21rem;
  } 

  /* .reg {
    width: 85%;
    height: 75%;
} */

  .close:not(:disabled):not(.disabled) {
    cursor: pointer;
    margin-left: -20rem;
}

}
