.bg {
  width: 100vw;
  height: 100vh;
  background: #ebf5fc;
}

.coursecontainer {
  width: 100%;
  margin: 0 auto;
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}

.heading-card-styling {
  display: flex;
  border-radius: 2rem;
  width: 35%;
  align-items: center;
  margin-top: 3rem;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  margin-bottom: 2rem;
  background: #d5eeffb7;
  box-shadow: 0 1rem 2rem rgb(0 0 0 / 56%);
}

.heading-card-title-styling {
  padding-top: 5rem;
  margin-top: -4rem;
  text-align: center;
  font-family: montserrat;
  font-weight: bolder;
}

.heading-card-body-styling {
  font-family: montserrat;
}

.routineAdd{
  display: flex;
  justify-content: center;
  align-items: center;
}
