.reg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 50px;
  padding-bottom: 65px;
  z-index: 1000;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
}

.input {
  color: blue;
}
/* .MuiInputLabel-root{
    color: blue;
  }
  .MuiFilledInput-root{
    color: red;
  } */

.MuiInput-underline::before {
  border-bottom-color: red;
}

.edit-button {
  border-radius: 10px;
  position: absolute;
  bottom: 5%;
  left: 74%;
  align-self: center;
  right: 1%;
  background: rgb(44, 122, 123);
  opacity: 0.7;
  font-family: "Work Sans", sans-serif;
  cursor: pointer;
  color: white;
  height: 40px;
  width: 100px;
}

.edit-button:hover {
  opacity: 1;
}

.edit-button:focus {
  background: rgb(44, 122, 123, 1);
}

.close-edit-subject {
  position: absolute;
  left: 580px;
  top: 13.5px;
  color: black;
  cursor: pointer;
}
