.temp {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin-bottom: 35px;
  padding: 10px;
}

.landing-page-bg {
  position: absolute;
  top: 58px;
  background-attachment: local;
}

.brief-summary {
  font-family: "Work Sans", sans-serif;
  font-size: x-large;
  color: white;
  opacity: 0.9;
  width: 680px;
  padding-left: 53px;
  padding-top: 32px;
}

.strong {
  color: black;
  /*text-decoration: underline;*/
}
.fa-arrow {
  color: black;
  animation-duration: 1.6s;
  animation-name: slidein;
  animation-iteration-count: infinite;
}
@keyframes slidein {
  0% {
    margin-left: 0%;
  }
  50% {
    margin-left: 8px;
  }
  100% {
    margin-left: 0%;
  }
}

.about-section {
  font-family: "Work Sans", sans-serif;
  font-size: large;
  color: black;
  opacity: 0.9;
  width: 1200px;
  text-align: center;
  padding-left: 170px;
  padding-top: 450px;
  padding-bottom: 70px;
}

.profile-cards {
  background-image: linear-gradient(white, rgb(83, 187, 183, 0.4));
}
.fa-heart {
  color: red;
  animation-duration: 1.6s;
  animation-name: beat;
  animation-iteration-count: infinite;
}
@keyframes beat {
  0% {
    font-size: 80%;
  }
  50% {
    font-size: 100%;
  }
  100% {
    font-size: 80%;
  }
}
.Strong {
  font-size: 40px;
  font-weight: bold;
}
.profile-image {
  margin-left: 150px;
  margin-bottom: 34px;
}
.profile-details {
  font-family: "Work Sans", sans-serif;
  font-size: x-large;
  font-weight: 800;
  margin-left: 130px;
  padding-left: 20px;
  margin-bottom: 20px;
}
.contribution {
  font-family: "Work Sans", sans-serif;
  font-size: medium;
  font-weight: 700;
  margin-left: 160px;
  padding-left: 20px;
  margin-bottom: 30px;
}
.social-media {
  margin-left: 225px;
  padding-bottom: 50px;
}
.fa-linkedin {
  color: #0077b5;
}
.fa-github {
  color: #171515;
}

.footer {
  padding: 10px 10px 10px 10px;
  font-size: medium;
  width: 100%;
  bottom: 0;
  background: black;
  font-family: "Work-Sans", sans-serif;
  color: white;
  text-align: center;
  font-weight: medium;
  z-index: 100;
}
