/* body{
width: 100%;
  height: 100%;
  background: linear-gradient(60deg,rgba(0,172,193,1) 0%,rgba(84,58,183,1) 100%);
} */

.regl {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* background-color: white; */
  padding: 50px;
  z-index: 1000;
}

.overlayl {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
}

/* Yaha Se Jo Code Tum Likha Tha  */
.main {
  width: 350px;
  height: 450px;
  /*background: #84b9b8;*/
  background: white;
  box-shadow: 10px 10px 10px black;
  overflow: hidden;
  border-radius: 10px;
  font-family: "Work Sans", sans-serif;
  /*box-shadow: 5px 20px 50px rgb(94, 93, 93);*/
}
h1 {
  color: black;
  font-size: 1em;
  justify-content: center;
  display: flex;
  margin: 0px;
  font-weight: bold;
}

.signUpOR {
  color: #fff;
}

.fa-google {
  color: #fff;
  margin-top: -2rem;
  margin-bottom: 3rem;
  align-items: center;
  justify-content: center;
  display: flex;
}

.login-google {
  color: #6d44b8;
}

#chk {
  display: none;
}
.signup {
  position: relative;
  width: 100%;
  height: 102.5%;
}
.loginLabel {
  color: #2c7a7b;
  font-size: 2em;
  justify-content: center;
  display: flex;
  margin: 30px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

.credInput {
  width: 60%;
  height: 37px;
  background: #eee;
  justify-content: center;
  display: flex;
  margin: 10px auto;
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 5px;
  opacity: 0.7;
  font-family: "Work Sans", sans-serif;
}
.CredInput {
  width: 60%;
  height: 37px;
  background: #fff;
  justify-content: center;
  display: flex;
  margin: 10px auto;
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 5px;
  opacity: 0.7;
  font-family: "Work Sans", sans-serif;
}

.forgot-password {
  text-align: center;
  position: absolute;
  cursor: pointer;
  right: 110px;
}

.password-icon {
  position: absolute;
  cursor: pointer;
  top: 181px;
  right: 80px;
}

.btnReg {
  width: 60%;
  height: 40px;
  margin: 10px auto;
  justify-content: center;
  display: block;
  color: #fff;
  background: rgb(44, 122, 123, 0.5);
  font-size: 1em;
  font-weight: bold;
  margin-top: 20px;
  outline: none;
  border: none;
  border-radius: 10px;
  transition: 0.2s ease-in;
  cursor: pointer;
}
.btnReg:hover {
  background: #2c7a7b;
}
.login {
  height: 460px;
  background: #eee;
  border-radius: 60% / 10%;
  transform: translateY(-180px);
  transition: 0.8s ease-in-out;
}
.login label {
  color: #2c7a7b;
  transform: scale(0.6);
}

.or {
  color: rgb(44, 122, 123);
  padding-top: 6px;
  padding-bottom: -1px;
  font-size: large;
}

#chk:checked ~ .login {
  transform: translateY(-500px);
}
#chk:checked ~ .login label {
  transform: scale(1);
}
#chk:checked ~ .signup label {
  transform: scale(0.6);
}

.closeSign {
  position: relative;
  left: 300px;
  top: 15px;
  color: #2c7a7b;
  cursor: pointer;
}

.passwordl-icon {
  position: absolute;
  left: 250px;
  top: 136px;
  cursor: pointer;
}
