.header {
  padding: 0;
  margin: 0;
  background: /*linear-gradient(
    to right,
    rgba(0, 172, 193, 1) 0%,
    rgba(84, 58, 183, 1) 100%
  );*/ #edf2f7;
  position: sticky;
  top: 0;
  font-size: 1.35rem;
  z-index: 100;
  font-family: "Work Sans", sans-serif;
}
.header a {
  text-transform: uppercase;
  font-size: large;
  text-align: center;
}

.navbar-brand img {
  width: 7rem;
}
.navbar-toggler {
  color: black;
}

.navbar-brand {
  color: black;
  font-family: "Work Sans", sans-serif;
}

.navbar-brand:hover {
  color: #2c7a7b;
}

.nav-link.relative {
  border-radius: 10px;
  border: 2px solid #2c7a7b;
  padding: 5px;
  color: #2c7a7b;
  text-align: center;
  padding-top: 0.5rem;
  cursor: pointer;
}

.navbar-collapse {
  font-size: medium;
  padding: 0.1px;
}

.getstarted {
  background-color: #6ca2a4;
  font-weight: bold;
  color: white;
  border-radius: 10px;
  padding-bottom: 0.5px;
  position: relative;
}

.getstarted a {
  text-align: center;
}

.getstarted:hover {
  color: #2c7a7b;
}

.dropdown-menu {
  padding: 0.5rem;
  min-width: 20rem;
  margin-left: -14.5rem;
  border-radius: 5px;
  transition: 0.5s;
}
.dropdown-menu a {
  width: 100%;
  color: #2e2e2e;
  font-size: 1.35rem;
  padding: 1rem;
  border-radius: 5px;
}
.dropdown-menu a:hover {
  background: rgb(124, 153, 172);
  color: black;
}
.show-cart {
  display: none;
}
.nav-link {
  color: black;
}
.navbar-nav {
  text-align: center;
}
.navbar-nav li {
  margin: 0 1.2rem;
}
@media screen and (max-width: 990px) {
  header {
    font-size: 1.5rem;
    position: fixed;
  }
  .navbar-brand img {
    width: 6rem;
  }
  .nav-link {
    width: 25rem;
    margin: 0 auto;
  }
  .dropdown-menu {
    padding: 0.5rem;
    width: 25rem;
    margin: 0 auto;
    border-radius: 5px;
  }
  .dropdown-menu a {
    color: #333333;
    font-size: 1.5rem;
    padding: 1rem;
    border-radius: 5px;
  }
  .show-cart {
    display: inline;
  }
}
