.header {
  padding: 0;
  margin: 0;
  background: /*linear-gradient(
    to right,
    rgba(0, 172, 193, 1) 0%,
    rgba(84, 58, 183, 1) 100%
  ); #edf2f7;*/ #53bbb7;
  top: 0;
  font-size: 1.35rem;
  z-index: 100;
  font-family: "Work Sans", sans-serif;
  width: 100%;
}
.header a {
  text-transform: uppercase;
  font-size: x-large;
  text-align: center;
}

.navbar-brand img {
  width: 7rem;
}
.navbar-toggler {
  color: black;
}

.navbar-brand {
  color: black;
  font-family: "Work Sans", sans-serif;
  padding-left: 25px;
}

.navbar-brand:hover {
  /*color: #2c7a7b;*/
  color: black;
}

.nav-link {
  padding: 5px;
  color: white;
  text-align: center;
  padding-top: 0.5rem;
  cursor: pointer;
  margin-right: 20px;
  font-size: 1rem;
}

.nav-link:hover {
  /*color: #2c7a7b;*/
  color: white;
}

.nav-link:focus {
  color: white;
}

.navbar-collapse {
  font-size: medium;
  padding: 0.1px;
}

.getstarted {
  background-color: rgba(255, 255, 0, 0.89);
  border-radius: 10px;
  padding-bottom: 0.5px;
  position: relative;
  margin-bottom: 2px;
  font-weight: bold;
}

.getstarted a {
  text-align: center;
}

.getstarted a:hover {
  color: white;
}

.fa-user-circle {
  color: black;
}
.fa-user-circle:hover {
  color: white;
  opacity: 1;
}

.dropdown-menu {
  padding: 0.3rem;
  min-width: 8rem;
  margin-left: -6.5rem;
  border-radius: 5px;
  transition: 0.5s;
  text-align: left;
}
.dropdown-menu a {
  width: 100%;
  height: 40px;
  color: black;
  text-align: left;
  font-size: 1rem;
  padding: 0.8rem;
  border-radius: 10px;
  cursor: pointer;
  padding-bottom: 30px;
}
.dropdown-menu a:hover {
  background: rgba(255, 255, 0, 0.89);
  color: black;
}
.dropdown-item {
  text-align: left;
  cursor: pointer;
  padding: 0.8rem;
  width: 100%;
  font-size: 1rem;
  height: 40px;
  padding-bottom: 10px;
}

.dropdown-item:hover {
  background: rgba(255, 255, 0, 0.89);
  color: black;
  border-radius: 10px;
}

.show-cart {
  display: none;
}
.nav-link {
  color: black;
  cursor: pointer;
}
.nav-link-get-started {
  color: black;
}
.nav-link-get-started:hover {
  color: black;
}
.navbar-nav {
  text-align: center;
}
.navbar-nav li {
  margin: 0 1.2rem;
}
@media screen and (max-width: 990px) {
  header {
    font-size: 1.5rem;
    position: fixed;
  }
  .navbar-brand img {
    width: 6rem;
  }
  .nav-link {
    width: 25rem;
    margin: 0 auto;
  }
  .dropdown-menu {
    padding: 0.5rem;
    width: 25rem;
    margin: 0 auto;
    border-radius: 5px;
  }
  .dropdown-menu a {
    color: #333333;
    font-size: 1.5rem;
    padding: 10rem;
    border-radius: 10px;
  }
  .show-cart {
    display: inline;
  }
}
