.reg-reset {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 600px;
  height: 9rem;
  transform: translate(-50%, -50%);
  background: white;
  z-index: 1000;
  border-radius: 10px;
  padding-top: 35px;
  padding-left: 30px;
  padding-right: 25px;
  padding-bottom: 5px;
}

.reg-forgot {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 200px;
  width: 406px;
  transform: translate(-50%, -50%);
  padding: 35px;
  background: white;
  z-index: 1000;
  border-radius: 10px;
}

.overlay-reset {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
}

.overlay-forgot {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
  height: 120%;
}

.closesign {
  position: absolute;
  left: 565px;
  top: 10px;
  color: black;
  cursor: pointer;
}

.cancel-button {
  border-color: red;
  border-radius: 5px;
  color: red;
  margin-left: 350px;
  margin-top: 5px;
}
.cancel-button:hover {
  border-color: red;
  background-color: red;
  color: white;
}

.cancel-button-forgot {
  border-color: red;
  border-radius: 5px;
  color: red;
  left: 100px;
  margin-left: 16rem;
  margin-top: -2.3rem;
  margin-bottom: 50px;
}
.cancel-button-forgot:hover {
  border-color: red;
  background-color: red;
  color: white;
}

.confirm-button {
  left: 50px;
  top: 100px;
  border-color: green;
  border-radius: 5px;
  color: green;
  margin-left: 10px;
  margin-top: 5px;
}
.confirm-button:hover {
  border-color: green;
  color: white;
  background-color: green;
}

.submit-button:hover {
  color: white;
}
.submit-button {
  margin-left: 10rem;
}

.close-sign {
  position: absolute;
  left: 365px;
  top: 12px;
  color: black;
  cursor: pointer;
}

@media (max-width: 1200px) {
  .reg-forgot {
        width: 82%;
    height: 35%;
  }

  .submit-button {
    margin-left: 0rem;
  }

  .cancel-button-forgot {
    margin-left: 5rem;
    margin-top: 3rem;
  }

  .close-sign {
    position: relative;
    left: 0%;
    top: -1rem;
    color: black;
    cursor: pointer;
  }

  .main {
    position: relative;
    right: 2%;
  }
  .reg-reset {
    width: 80%;
    height: 62%;
  }
  .confirm-button {
    margin-left: 1rem;
    margin-top: 5rem;
  }
  .cancel-button {
    margin-left: -2rem;
    margin-top: 5rem;
  }
  .closesign {
        position: relative;
    /* margin-left: -34rem; */
    left: -5%;
    top: -3%;
  }

  .cancel-button {
    cursor: pointer;
    margin-top: 8rem;
    margin-bottom: -5rem;
    margin-left: 1rem;
  }

  .confirm-button {
    cursor: pointer;
    margin-top: 8rem;
    margin-bottom: -5rem;
    margin-left: 1rem;
  }

  .edit-password-text {
    margin-top: 5rem;
    font-size: 4vw;
  }
}

@media only screen and (min-width: 701px) and (max-width: 1224px) {
  .confirm-button {
    margin-left: 5rem;
    margin-top: 7rem;
  }
  .cancel-button {
    margin-left: 5rem;
    margin-top: 5rem;
  }
  .closesign {
    margin-left: -34rem;
  }

  .main-button {
          margin-top: 21rem;
    cursor: pointer;
    /* margin-bottom: 0.5rem; */
    width: 27rem;
    height: 6rem;
    position: inherit;
    left: 8%;
    margin-left: 2rem;
  }
  .cancel-button{
    margin-top: 5rem;
    cursor: pointer;
    margin-bottom: 0.5rem;
    width: 22rem;
    height: 6rem;
    position: inherit;
    left: 7%;
    margin-left: 5rem;
    font-size: 4vw;
  }

  .confirm-button{
    margin-top: 5rem;
    cursor: pointer;
    margin-bottom: 0.5rem;
    width: 22rem;
    height: 6rem;
    position: inherit;
    left: 7%;
    margin-left: 5rem;
    font-size: 4vw;
  }
  /* .edit-password-text{

  margin-top: 5rem;

} */
}
