.details-card-body-styling {
  font-family: montserrat;
  padding-bottom: 1px;
  text-align: center;
}

.button-styling {
  border-radius: 10rem;
  margin: 1.5rem;
  width: 7rem;
  background: #03a9f4;
}

.details-card-title-styling {
  padding-top: 5rem;
  padding-bottom: 2rem;
  margin-top: -4rem;
  text-align: center;
  font-family: montserrat;
  font-weight: bolder;
}

.details-card-styling {
  display: inline-flex;
  flex-direction: row;
  border-radius: 2rem;
  width: 20%;
  height: 20rem;
  align-items: center;
  justify-content: space-evenly;
  margin: auto;
  margin-top: 5rem;
  margin-left: 6rem;
  margin-right: 6rem;
  margin-bottom: 4rem;
  background: #d5eeffb7;
  box-shadow: 0 1rem 2rem rgb(0 0 0 / 56%);
}

@media (max-width: 500px) {

  .details-card-styling {

  width: 20rem;
  margin-left: 1rem;
  margin-right: 1rem;
  }

  .heading-card-styling {
    width: 20rem;
  }
  
}

.edit-button-styling {
  border-radius: 76rem;
  position: relative;
  left: 40%;
  top: -0.5rem;
}
.delete-button-styling {
  border-radius: 76rem;
  position: relative;
  right: 40%;
  top: -0.5rem;
}

.card-text {
  font-weight: bold;
  text-align: center;
}
@media (max-width: 500pc) {
  
}

.add-day-button{
  margin: 2rem;

}
