bg {
  width: 100vw;
  height: 100vh;
  background: #ebf5fc;
}

/* .subcard {
    margin-top: 20px;
  } */

.card-styling {
  display: flex;
  border-radius: 2rem;
  width: 70%;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-bottom: 2rem;
  background: #d7fff4;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.562);
  border-radius: 1.5rem;
  cursor: pointer;
  margin-top: 3rem;
}

@media (max-width: 500px) {
  .card-styling {
    height: 15rem;
  }
}

/* .search-styling {
    width: 7rem;
    color: white;
    background-color: #0d6efd;
    border-color: #0d6efd;
  } */

/* .me-2 {
    width: 30rem;
  } */

.card-title-styling {
  padding-top: 5rem;
  margin-top: -4rem;
  text-align: center;
  font-family: montserrat;
  font-weight: bolder;
}

.join-class-button-styling {
  position: absolute;
  border-radius: 10rem;
  bottom: 22%;
  left: 90%;
  right: 1%;
  background: #007164;
  color: black;
}

@media (max-width: 900px) {
  .join-class-button-styling {
    position: initial;
    border-radius: 10rem;
    bottom: 15%;
    left: 35%;
    right: 70%;
  }
}

.card-body-styling {
  font-family: montserrat;
  padding-bottom: 1px;
}

.downShift {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.fas {
  cursor: pointer;
}

.main-dots:after {
  cursor: pointer;
  color: black;
  content: "\2807";
  font-size: 1.7rem;
  margin-left: -61rem;
}
@media (max-width: 1200px) {
  .main-dots:after {
    margin-left: -30rem;
  }
}

@media (max-width: 780px) {
  .main-dots:after {
    margin-left: -15rem;
  }
}

a {
  text-decoration: none;
  color: black;
}

a div {
  padding: 2px;
}

.dropdown-main {
  position: absolute;
  right: 10px;
  background-color: #c2ddd8;
  /* box-shadow: 0px 0px 3px 3px #C2DDD8; */
  outline: none;
  opacity: 0;
  z-index: -1;
  max-height: 0;
  transition: opacity 0.1s, z-index 0.1s;
  padding: 0 5px;
}
/* .options{
  padding: 0.1rem;
} */

.dropdown-container-main:focus {
  outline: none;
}

.dropdown-container-main:focus .dropdown {
  opacity: 1;
  z-index: 100;
  max-height: 100vh;
  transition: opacity 0.2s, z-index 0.2s;
}

.edit-delete {
  font-size: 1rem;
  margin-left: -61rem;
}

.fa-pen {
  padding: 1rem;
}

.fa-trash-can {
  padding: 0.5rem;
}

@media (max-width: 1200px) {
  .edit-delete {
    margin-left: -30rem;
  }
}

@media (max-width: 780px) {
  .edit-delete {
    margin-left: -11rem;
  }
}

/* .downShift {
    color: black;
    position: absolute;
    left: 51rem;
    z-index: 3;
    top: 5.5rem;
    margin-top: 5px;
} */

/* .brand-styling {
    font-family: montserrat;
    font-weight: 900;
  } */

/* .navbar {
    padding-top: 1.5rem;
    z-index: 1;
  }
  
  .search-icon-styling {
    color: black;
    size: 100rem;
  } */

/* Card {
    position: absolute;
  }
   */
